---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
IncludeBlocks: Preserve
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
SpaceBeforeCpp11BracedList: true
Standard: c++20
TabWidth: 8
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: false
IndentCaseBlocks: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
---
